*{
    margin: 0;
    padding: 0;
}
.clear::after{
    content: '';
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

img{
    max-width: 100%;
}
a{
    text-decoration: none;
}

/* Header */
.main{
    max-width: 550px;
    margin: 90px auto;
}
.main-box{
    border: 1px solid #80808040;
    border-radius: 10px;
    padding: 50px 15px 10px 40px;
}
.header{}
.header img{}
.header h1{font-weight: 500;margin: 10px 0;font-size: 27px;}
.header h4{font-size: 18px;font-weight: 300;margin-bottom: 30px;}

.content{}
.content input{display: block;width: 97%;height: 45px;font-size: 16px;padding-left: 10px;border: 1px solid #8080804f;border-radius: 3px;margin-bottom: 15px;}
.content a{font-size: 17px;font-weight: 600;color: #5e5ef7f0;display: block;margin-bottom: 50px;}
.content .left {
    width: 60%;
    margin: 10px 0;
}
.content .right {
    width: 20%;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    margin-right: 15px;
}
.content p{margin-top: 45px;font-size: 17px;color: #626060;}
.content .btn{background: #1A73E8;color: #fff;font-weight: bold;font-size: 20px;/*! padding: 7px 25px; */border-radius: 3px;vertical-align: middle;}
.content .btn:hover{
    background: #0669eb;
}

.footer{margin-top: 25px;}
select {
	border: 0;
	color: #434343;
	font-size: 12px;
}
select:hover{
    text-decoration: underline;
}
.foot-menu{display: inline-block;}
.foot-menu a {
	color: gray;
	padding-left: 25px;
}

.select .left{
    width: 60%;
}
.foot-menu .right{
    width: 40%;
}
.foot-menu a:hover{
    text-decoration: underline;
}